h1 {
  color: #FFFFFF;
  text-align: center;
}

p {
  color: #191919;
  font-size: 20px;
} 

p.pfooter {
  color: #FFFFFF;
  font-size: 20px;
} 

a {
  color: #191919;
  font-size: 20px;
} 

a.afooter {
  color: #FFFFFF;
  font-size: 20px;
} 
